html {
    --primary-color: rgb(50, 159, 91);
    --light-color: rgb(199, 221, 211);
    --dark-color: rgb(57, 57, 58);
    --accent-color: rgb(80, 140, 164);
    --accent-color-2: rgb(132, 177, 196);
    font-size: 16px;
}
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Fira Sans', sans-serif;
    background-color: var(--light-color);
    color: var(--dark-color);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100vh;
}
h1 {
    font-size: 2.25rem;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
    letter-spacing: 0.15rem;
}
h2 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}
h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 0.75rem;
}
h4 {
    margin-top: 0px;
    margin-bottom: 0.75rem;
}
p {
    line-height: 1.5em;
    margin-top: 0px;
}
ul {
    line-height: 1.5em;
    margin-top: 0.75rem;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: var(--accent-color);
}
a:hover { color: var(--dark-color); }

@media only screen and (max-width: 600px) {
    body { display: block; }
}